replicaCount: 2

image:
  repository: aadan1lov/muffin-currency
  tag: "1.0.0"

containerPort: 8080

service:
  type: ClusterIP
  port: 8083

livenessProbe:
  httpGet:
    path: /rate?from=PLAIN&to=CHOKOLATE
    port: 8080
  initialDelaySeconds: 5
  periodSeconds: 10

readinessProbe:
  httpGet:
    path: /rate?from=PLAIN&to=CHOKOLATE
    port: 8080
  initialDelaySeconds: 2
  periodSeconds: 5
